<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/shahan.css' %}" />

    <title>مشاوره املاک شاهان</title>
</head>
<body class="container"> 
    <header>
        <div style="height:auto; width:100%;overflow:hidden;">
            <img class="w-100" style="object-fit:scale-down; object-position:bottom" src="{% static 'images/Real-Estate-2.jpg' %}" />
        </div>
        {% include 'home/navbar.html' %}
    </header>
        {% block content %} {% endblock %}
    
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>